<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<!-- ****************************************************************
	
	                   Hi! Are you like html code too?
	
	***************************************************************** -->

	<title>SW Tapok Drawing Result</title>
	
	<meta name="description" content="Some text">
	<meta http-equiv="cleartype" content="on" />
	<meta name="apple-mobile-web-app-capable" content="no">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
	
	<!--[if lt IE 9]>
	  <script src="/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<link rel="icon" type="image/png" href="image/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="image/favicon-16x16.png" sizes="16x16">
	
	<!--  CSS  -->
	<link rel="stylesheet" href="lib/normalize.css">
	<link rel="stylesheet" href="lib/flexboxgrid.min.css">
	<link rel="stylesheet" href="lib/photoswipe/photoswipe.css"> 
    <link rel="stylesheet" href="lib/photoswipe/default-skin/default-skin.css"> 

	<link rel="stylesheet" href="css/style.min.css?v=<%= autoversion %>">

</head>


<body class="wrapper">
    <div class="container">
        <div class="row main-row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="main-container">
                    <div class="text-center">
	                   <h1 class="main-title">Результаты 
	                       <a href="//sonic-world.ru/forum/topic/23617-/">
	                           конкурса рисования 
	                       </a>
	                       сониковского мира
	                   </h1>
                    </div>
                    <noscript>
                        <div class="text-center">
                            Без включенного javascript сайт работать не будет :(
                        </div>
                    </noscript>
                    <div class="iterations">
                        <div class="text-center"><br>Loading ...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--  JS  -->
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/modernizr.flexbox.js"></script>
    <script src="lib/alasql.min.js"></script>
    <script src="lib/handlebars.min.js"></script>
    <script src="lib/photoswipe/photoswipe.min.js"></script> 
    <script src="lib/photoswipe/photoswipe-ui-default.min.js"></script> 
    
    <script src="js/custom.min.js?v=<%= autoversion %>"></script>
</body>

