$font-stack: Helvetica, Arial, sans-serif;
$font-color: #333333;
$font-size: 16px;
$font-color-reverse: #FFFFFF;

$background-color: #FCFFFD;

$color-dafault-main:    #00B945;
$color-dafault-down:    #238B49;
$color-dafault-dark:    #00782D;
$color-dafault-up:      #37DC74;
$color-dafault-lighter: #63DC90;

$color-ui-main: #CCCCCC;

body {
    font: 100% $font-stack;
    font-size: $font-size;
    line-height: 21px;
    color: $font-color;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    background-image: url("../image/noise.png");
}

.main-container {
    position: relative;
    display: block;
    padding: 0;
    //background-color: #FFFFFF;
}

.main-title {
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 1.2em;
    text-align: center;
    color: $color-dafault-dark;
    margin-left: 44px;
    margin-right: 44px;
    
    a {
        color: $color-dafault-dark;
    }
}

.main-title:before {
    width: 32px;
    height: 32px;
    content: " ";
    background-image: url(../image/favicon-32x32.png);
    position: absolute;
    left: -40px;
    }

.text-center {
    text-align:center;
}

.text-gray {
    color: #999999;
}

.top-menu {
    margin-bottom: 16px;
}

.top-menu__wiev-select {
   background: transparent;
   width: 150px;
   font-size: 16px;
   border: 1px solid $color-ui-main;
   height: 34px;
   cursor: pointer;
} 


.iterations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.iteration_title {
    background-color: $color-dafault-down;
    background-image: url("../image/noise.png");
    color: $font-color-reverse;
    display: block;
    box-sizing: border-box;
    padding: 8px;
    padding-left: 16px;
    padding-right: 48px;
    position: relative;
    min-height: 32px;
    min-width: 90%;
    min-width: calc(100% - 48px);
    max-width: 100%;
    text-align: left;
    margin-bottom: 8px;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    display: flex;
    align-items: baseline;
}

// .iteration_title:after {
//      content: '';
//     position: absolute;
//     right:0;
//     top: 0;
//     border-top: 32px solid $background-color;
//     border-left: 48px solid $color-dafault-down;
// }

.iteration_name,
.title__name {
    font-size: 1.4em;
    min-width: 0;
}

.iteration_date,
.iteration_info {
    min-width: 0;

}

.iteration_name,
.iteration_date,
.iteration_info {
    margin-left: 8px;
    margin-right: 8px;
}

.iteration_name a {
    color: $font-color-reverse;
}

.iteration {
    margin-bottom: 24px;
}


.iteration_body {
    display: flex;
    flex-wrap: wrap;
    min-width: 168px;
}

.picture {
    width: 160px;
    margin: 2px;
    position: relative;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: clip;
    padding: 2px;
    padding-bottom: 4px;
}

.picture_body {
    width: 160px;
    height: 160px;
    position: relative;
}

.picture_body img {
    min-width: 160px;
    min-height: 160px;
    position: relative;
}

.picture_username a {
    color: $color-dafault-dark;
}

.picture_win:before {
    content: 'W I N';
    width: 160px;
    //height: 32px;
    background-color: #FF6633;
    color: #FFFFFF;
    z-index: 101;
    position: absolute;
    top: 12px;
    left: -56px;
    padding: 2px;
    border: 2px double #FFFFFF;
    
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.picture__not-voted {
    background-color: #fff4d8;
    background-image: repeating-linear-gradient(-45deg, #fff4d8, #CCCCCC 1px, #CCCCCC 30px, #fff4d8 31px, #fff4d8 60px);
}

.container-fluid  {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.top-menu__wiev-select {
    width: 100%;
}

.iteration_table table {
    border-collapse: collapse;
}

.iteration_table table td,
.iteration_table table th {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid $color-dafault-down;
}

.iteration_table__link {
    color: $color-dafault-dark;
}

.iteration_table__achivement{
    margin: 4px;
}

.tablesort th {
    background-color: $color-dafault-down;
    color: $font-color-reverse;
}

.tablesort {
    th[role=columnheader]:not(.no-sort) {
        cursor: pointer;
    }
    
    th[role=columnheader]:not(.no-sort):after {
        content: '';
        float: right;
        margin-top: 7px;
        border-width: 0 4px 8px;
        border-style: solid;
        border-color: $font-color-reverse transparent;
        visibility: hidden;
        opacity: 0;
        user-select: none;
        margin-left: 4px;
    }
    
    th[aria-sort=ascending]:not(.no-sort):after {
        border-bottom: none;
        border-width: 8px 4px 0;
    }
    
    th[aria-sort]:not(.no-sort):after {
        visibility: visible;
        opacity: 0.4;
    }
    
    th[role=columnheader]:not(.no-sort):hover:after {
        visibility: visible;
        opacity: 1;
    }
}


@media only screen and (min-width:48em) {
    .container-fluid  {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media only screen and (min-width:75em) {
    .container-fluid  {
        padding-right: 10%;
        padding-left: 10%;
    }
}

